@import "tailwindcss";

@theme {
  --color-background: rgb(17, 17, 17);
  --color-foreground: rgb(238, 238, 238);
  --color-card: rgb(26, 26, 26);
  --color-primary: rgb(255, 255, 255);
  --color-secondary-background: rgb(23, 23, 23);
}

@layer base {
  body {
    background-color: var(--color-secondary-background);
    color: var(--color-foreground);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
  }
}
